* {
  font-family: 'Courier New', Courier, monospace;
}

body {
  padding: 10%;
}

input {
  color: blueviolet;
  width: 100%;
}

.card {
  align-content: center;
  border: 1px solid gray;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card p {
  padding: 5px;
}

.card img {
  max-height: 170px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}